head
	title Toitla
body
	.logo
		img.toitla(src="/icons/white-toitla.svg")
	+main
	.bottom
		a.facebook(href="https://www.facebook.com/toitlacom" target="_blank") Facebook
		a.blog(href="http://blog.toitla.com/" target="_blank") Blog
	
template(name="main")
	if isPopup
		.popupBack
			+popup

	if sexysecrets
		+secrets
	else
		table.main
			tr
				td.left
					h2 Soovid paremat toitu oma 체ritusele? Meie toitu Sa poest ei leia!
					.btn.order 
						p <strong>Telli!</strong>
				td.right
					h2 Meeldib kokata? <br> Tee algus esimeste tellimustega!
					.btn.chef
						p <strong>Liitu!</strong>
		.gallery

template(name="popup")
	form(name="email")
		if chef
			p Saada meile oma kontaktid ja kirjuta natuke endast. Me v천tame Sinuga 체hendust.
		else
			p Kirjuta meile millal, kus, kui paljudele inimestele ja mida laual n채ha soovid.
		p E-post
		input(name="email")
		p Telefon
		input(name="phone")
		p Kirjuta meile
		textarea(name="details" rows="6")
		input.btn(type="submit")

template(name="secrets")
	.secrets
		table
			each secretinfo
				tr
					td.small {{email}}
					td.small {{phone}}
					td.small {{role}}
					td.large {{details}}
		