head
	title Toitla
body
	.logo
		img.toitla(src="/icons/white-toitla.svg")
	+main
	.bottom
		a.facebook(href="https://www.facebook.com/toitlacom" target="_blank") facebook
		a.blog(href="http://blog.toitla.com/" target="_blank") blog
	
template(name="main")
	if isPopup
		.popupBack
			+popup

	if sexysecrets
		+secrets
	table.main
		tr
			td.left
				h2 Need better food at your event? Cooks are waiting.
				.btn.order 
					p Order now!
			td.right
				h2 Love cooking? Orders are waiting.
				.btn.chef
					p Join now!

template(name="popup")
	form(name="email")
		if chef
			p Send us your email, phone number with your speciality and we'll be in touch.
		else
			p Tell us the what when and where of your event.
		p email
		input(name="email")
		p phone nr
		input(name="phone")
		p details
		textarea(name="details" rows="6")
		input.btn(type="submit")

template(name="secrets")
	.secrets
		table
			each secretinfo
				tr
					td.small {{email}}
					td.small {{phone}}
					td.small {{role}}
					td.large {{details}}
		