html, body, table {
	height: 100%;
	width: 100%;
	text-align: center;
	line-height: 2.4em;
}
* {
	padding: 0;
	margin: 0;
}
body {
	background-image: url("/images/background-seamless.jpg");
}

.bottom-margin {
	height: 100px;
}

table.main {
	height: 80%;
	border-collapse: collapse;
	td {
		width: 50%;
	}
	h1, h2, h3, p {
		max-width: 400px;
		margin: auto;
	}
	.btn {
		margin-top: 1em;
	}
	box-shadow: 0px 8px 7px rgba(0,0,0,0.5);
}

.btn {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 0.3em 4em 0.3em 4em;
	display: inline-block;
	border-radius: 3px;
	cursor: pointer;
	&:hover {
		background-color: rgba(255,255,255,0.4);
	}
}

.left {
	background-image: url(images/food1.jpg);
	background-position: center;
	background-size: cover;
}
.right {
	background-image: url(images/food2.jpg);
	background-position: center;
	background-size: cover;
}

@font-face {
    font-family: 'GH'; 
    src: url("/fonts/GloriaHallelujah.ttf");
    font-weight: normal;
}

h1, h2, h3 {
	color: white;
	font-family: "GH";
}

h1 {
	padding-top: 3em;
	padding-bottom: 1em;
}
h2 {
	padding: 1em;
	padding-bottom: 2em;
}

p {
	max-width: 600px;
	color: white;
	font-family: Arial;
}

.tekst {
	margin: auto;
	line-height: 1.5rem;
}

.popupBack {
	overflow: auto;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(255,255,255,0.4);
}

form {
	border-radius: 3px;
	margin: 3em auto;
	padding: 2em;
	background-color: white;
	text-align: left;
	p {
		color: black;
		margin-top: 1em;
	}
	width: 300px;
	.btn {
		border: 1px solid rgba(0,0,0,0.8);
		display: block;
		width: 100%;
		margin-top: 1em;
	}
	input, textarea {
		font-size: 1.3em;
		width: 100%;
		resize: vertical;
	}
}

.logo {
	position: absolute;
	top: 2em;
	left: 50%;
	width: 0;
	overflow: visible;
	.toitla {
		width: 160px;
		position: relative;
		left: -80px;
	}
	h2 {
		width: 200px;
		position: relative;
		left: -100px;
	}
}

.secrets {
	color: black;
	p {
		color: black;
	}
	table {
		width: 100%;
	}
}

.small {
	width: 20%;
}

.large {
	width: 80%;
}

.bottom {
	// background-color: rgba(0,0,0,0.9);
	position: absolute;
	bottom: 20%;
	width: 100%;
	p {
		display: inline-block;
	}
	.facebook {
		margin-left: -35px;
	}
	.blog {
		margin-left: 10px;
	}
}

a {
	text-decoration: none;
	color: white;
	font-family: Arial;
}

h1, h2, h3, p {
	text-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}

.gallery {
	line-height: 0;
	.images {
		width: 100%;
		margin: 0 auto;
	}
	.image {
		display: inline-block;
		height: 0;
		width: 33.33333333%;
		padding: 15% 0;
		margin: 0;
		background-size: cover;
		background-position: center;
	}
}
.huge {
	font-size: 4em;
	padding-top: 1.2em;
	padding-bottom: 1.2em;
	line-height: 1.3em;
}