.layout {
    display: inline-block;
}
.layout-left {
    .layout;
    width: 350px;
}
.layout-right {
    .layout;
    width: calc(~"100% - 350px");
    vertical-align: top;
}
.suborder {
    width: 350px;
    display: inline-block;
    vertical-align: top;
}
.layout-order {
    min-width: 350px;
    max-width: 900px;
    margin: auto;
    .paper-initial-order {
        vertical-align: top;
        text-align: center;
        min-width: 350px;
        width: calc(~"50% - 32px");
        display: inline-block;
    }
}
.layout-login {
    width: 400px;
    text-align: center !important;
    margin: 1em auto !important;
}


.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.is-small-screen {
    .mdl-layout__drawer-button {
        color: white !important;
        background-color: rgba(0,0,0,0.3);
    }
    .mdl-layout__tab:first-child {
        margin-left: 52px !important;
    }
}
