.MenuItemComponent {
    position: relative;
    background-color: white;
    box-sizing: border-box;
    padding: 1em;
    margin: 1em;
    max-width: 350px;

    .mdl-container__menu {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
    }
}
