.MenuItem {
    position: relative;
    box-sizing: border-box;
    max-width: 350px;
    background-color: white;
    border-radius: 3px;
    vertical-align: top;

    .greenBack {
        background-color: rgb(200, 255, 200) !important;
    }

    .mdl-container__menu {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px;
    }

    .placeholder {
        p, h1, h2, h3 {
            color: transparent;
        }
    }

    & > section:last-of-type:not(.details) {
        -webkit-box-shadow: inset 0px 10px 5px -8px rgba(50, 50, 50, 0.53);
        -moz-box-shadow:    inset 0px 10px 5px -8px rgba(50, 50, 50, 0.53);
        box-shadow:         inset 0px 10px 5px -8px rgba(50, 50, 50, 0.53);
        background-color: rgb(225,225,225);
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }

    input, textarea {
        color: black !important;
        border-bottom: 1px solid #ccc !important;
        resize: vertical !important;
        font-family: Arial;
    }
    input:disabled, textarea:disabled {
        color: black !important;
        border-bottom: 1px solid transparent !important;
        resize: none !important;
    }

    input + label, textarea + label {
        color: rgb(63,81,181) !important;
    }

    input:disabled + label, textarea:disabled + label {
        color: #ccc !important;
    }

    .visible {
        visibility: visible !important;
    }
}
