template(name="postNew")
	.form.postNew
		+uploadImage(view="newPost" size="500")
		textarea.description(placeholder="{{T 'postNew_description_placeholder'}}") {{description}}
		button.submit {{T "save"}}