@import "variables";

input[type="submit"] {
	background: @button-green;
	padding: 10px 20px;
	color: white;
	display: inline-block;
	margin: 0;
	outline: 0;
	border: none;
	border-radius: @border-radius;
	font-weight: bold;
	text-transform: uppercase;
}