@import "variables";

.create-order {
	height: 100%;
	section {
		height: @col-height;
	}
	section:first-child {
		form {
			max-width: 500px;
			margin: auto;
		}
	}
	section:not(:first-child) > .row > div {
		height: @col-height;
		padding: 5em;
	}
	.social {
		max-width: 100px;
		margin: auto;
	}
}