@import "variables";
@import "mixins";

.background {
	background-image: url("../images/food/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}
.dimmer {
	opacity: 0.25;
	position: absolute;
	width: 100%;
	height: 100%;
	&.black {
		background-color: black;
	}
}

.error {
	font-size: 1.8em;
}

.content {
	position: absolute;
	top: 35%;

	@media (orientation: landscape) and (max-width: @screen-xs-max){
		top: 0%;
	}
	@media (max-width: @screen-xs-max) {
		top: 20%;
	}

	width: 100%;

	.make-order {
		color: white;
		text-align: center;
		.centered-content();

		form {
			display: flex;
			justify-content: center;

			@media (max-width: @screen-xs-max) {
				display: block;
				input[type="submit"] { 
					margin-top: 20px;
				}
			}
		}

		.inputs {
			display: flex;
			@media (min-width: @screen-md-min), (orientation: landscape) {
				
				input[type="text"]:first-child {
					border-radius: 5px 0 0 5px;
				}
				input[type="text"]:last-child {
					border-radius: 0 5px 5px 0;
				}
			}
			@media (min-width: @screen-sm-max) {
				margin-right: 20px;
			}
			@media (max-width: @screen-sm) {
				flex-wrap: wrap;
				justify-content: center;
			}
		}

		input[type="text"] {
			margin: 0px;
			line-height: 40px;
			padding: 10px 20px;
			box-shadow: none;
			background: white;
			color: @dark-gray;
			border: none;
			border-right: solid 1px @gray;
			box-sizing: border-box;
			font-size: @font-size-large;
			@media (min-width: @screen-sm-min), (orientation: landscape){
				// flex-basis: 0; // not compatible with IE11
				flex-grow: 1;
				&.long {
					flex-grow: 4;
					flex-basis: 500px; // also no IE11 support, but at least input usable in IE11
				}
			}
			@media (max-width: @screen-sm-max) and (orientation: portrait){
				margin: 2px 0 2px 2px;
				border-radius: @border-radius;
				width: 32%;
				&.long {
					width: 100%;
				}
			}
			@media (max-width: @screen-sm-max) {
				padding: 5px;
			}

			&:focus {
				outline: 0;
			}
		}

		input[type="submit"] {
			font-size: @font-size-large;
		}

		.slogan {
			padding-bottom: 20px;
			font-weight: bold;
			font-size: @font-size-large;
			margin-left: auto;
			margin-right: auto;
		}

	}
}