@font-face {
	font-family: 'Raleway';
	src: url("/font/Raleway/Raleway-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: 'Raleway';
	src: url("/font/Raleway/Raleway-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url("/font/Raleway/Raleway-Light.ttf");
	font-weight: lighter;
}

* {
	font-family: 'Raleway';
}

.font-bold {
	font-weight: bold;
}
.uppercase {
	text-transform: uppercase;
}

strong, .strong {
    font-weight: bold;
}

a {
	cursor: pointer;
}

a:link,
a:visited,
a:active,
.underline {
  text-decoration: none;
}

h3 {
	font-size: 16px;
}