@import "variables";

.form-box input[type="text"],
.form-box input[type="email"],
.form-box input[type="password"],
.form-box textarea {
	height: 20px;
	width: 200px;
	padding: 10px;
	border: solid @dark-gray 1px;
	border-radius: @border-radius;
	display: block;
	margin: 10px 0px;
	&.small {
		width: 100px;
	}
}