@import "variables";
@import "mixins";

.form-box input[type="text"],
.form-box input[type="email"],
.form-box input[type="password"],
.form-box textarea {
	height: 20px;
	width: 200px;
	padding: 10px;
	border: solid @dark-gray 1px;
	display: block;
	margin: 10px 0px;
	.rounder-corners();
	&.small {
		width: 100px;
	}
}

// Non-required fields show as gray
.form-box.chef-profile input:not(:required),
.form-box.chef-profile textarea:not(:required) {
	border-color: @gray;
}
.form-box.chef-profile label:not([required="required"]) {
	color: @gray;
}


// Placeholder styling
::-webkit-input-placeholder { color: @gray; }
::-moz-placeholder { color: @gray; } /* firefox 19+ */
:-ms-input-placeholder { color: @gray; } /* ie */
input:-moz-placeholder { color: @gray; }