@import "mixins";

nav {
	&.light-text {
		color: white;
		background: transparent;
	}
	position: absolute;
	width: 100%;
	height: 40px;
	top: 0px;
	background: rgba(255, 255, 255, 0.64);
	.menu {
		padding-top: 10px;
		.centered-content();
		text-align: right;
		a {
			padding-right: 20px;
			&:last-child {
				padding-right: 0px;
			}
			font-weight: bold;
		}
	}
	
}