@import "variables";

.two-columns {
	h1 {
		font-weight: normal;
		font-size: 38px;
		margin-bottom: 0px;
	}
	header.offers {
		text-align: center;
		display: block;
		div {
			margin: 20px;
		}
	}
}
.feedback {
	color: gray;
	float: right;
	font-style: italic;
}