@import "variables";

.two-columns {
	h1 {
		font-weight: normal;
		font-size: 38px;
		margin-bottom: 0px;
	}
	header.offers, header.offers h3 {
		text-align: center;
		display: block;
	}
	.centered {
		margin-left: auto;
		margin-right: auto;
	}
}
a.chef-info {
	color: red;
	&:hover {
		text-decoration: underline;
	}
}
.feedback {
	color: gray;
	float: right;
	font-style: italic;
	margin-top: 0px;
}