.two-columns {
	width: 100%;
	position: absolute;
	top: 15%;

	.orders {
		width: 960px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;

		.order-block {
			margin: 10px;
			min-width: 40%;
			flex: 1;
			header {
				display: flex;
				justify-content: space-between;
				.cancel-offer {
					min-width: 120px;
					color: red;
				}
				.order {
					h3 { margin: 0px; }
					p { margin-top: 5px; }
				}
			}
			form footer {
				display: flex;
				justify-content: space-between;
				flex-direction: row;
				input[type="submit"] {
					height: 50px;
					margin-top: 5px;
				}
			}
			.chat {
				background-color: @lighter-beige;
			}
		}
	}
}