.two-columns {
	width: 100%;
	position: absolute;
	top: 15%;

	.orders {
		width: 960px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-left: auto;
		margin-right: auto;

		.order-block {
			margin: 10px;
			min-width: 40%;
			flex: 1;
			.cancel-offer {
				color: red;
			}
			form footer {
				display: flex;
				justify-content: space-between;
				input[type="submit"] {
					height: 50px;
					margin-top: 5px;
				}
			}
		}
	}
}