@import "variables";
/* Overlay style */
.overlay {
	
	position: fixed;
	overflow: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: @beige-overlay;
	
	.overlay-content {
		width: 450px;
		min-height: 200px;
		margin: 5% auto;
		background-color: white;
		border-radius: @border-radius;
		padding: 20px;
	}
}