@import "variables";
@import "mixins";

/* Overlay style */
.overlay {
	
	position: fixed;
	overflow: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: @beige-overlay;
	
	.overlay-content {
		width: 450px;
		min-height: 200px;
		margin: 5% auto;
		background-color: white;
		padding: 20px;
		position: relative;
		.rounder-corners();
	}
	.overlay-close {
		position: absolute;
		width: 30px;
		height: 30px;
		right: 2px;
		top: 2px;
		color: @dark-gray;
		text-align: center;
		font-size: 18px;
		line-height: 30px;
		cursor: pointer;
		.rounder-corners();
		&:hover {
			color: black;
			background-color: @light-gray;
		}
	}
		
}