.allsecrets {
	table {
		color:#666;
		background:#eaebec;
		margin:10px;
	}
	table th {
		background: rgba(255,255,255,0.4);
	}
	table tr:first-child {
		text-align: center;
		font-size: 2em;
	}
	table tr:nth-child(2) th {
		text-align: center;
		font-size: 1.5em;
	}
	table tr {
		text-align: center;
	}
	table td:first-child {
		text-align: left;
	}
	table.ordersTable td {
		max-width: 400px;
	}
	table td {
		padding: 7px;
		background: #fafafa;
	}
	table tr.even td {
		background: #f6f6f6;
	}
	table tr:hover td {
		background: #f2f2f2;
	}
}