template(name="index")
	.starter-template
		h1 Tere from index!
		p.lead Tahan süüa:
		with order
			form(name="order")
				input(type="text" required name="description" value="{{description}}" placeholder="what you want to eat")
				input(type="text" required name="date" value="{{date}}" placeholder="date")
				input(type="text" required name="time" value="{{time}}" placeholder="time")
				input(type="submit" value="{{T 'place_order'}}") 