template(name="contact")
	.contact-overlay
		h3 {{ T "If you need help we are here for you!" }}
		div 
			span(class="color-green strong") +372 58 49 43 40
		p appi@toitla.com
		p 
			a(href="https://www.facebook.com/pages/toitlacom/751299064941691") Facebook
		p 
			a(href="https://twitter.com/toitla") Twitter
