template(name="registerForm")
	.register-form.form-box
		h3 {{T 'Register as a chef'}}
		.messages
		form(name="register")

			label(for="email") {{T 'E-mail address'}}
			input(type="email" name="email" id="email" required="required")

			label(for="password") {{T 'Password'}}
			input(name="password" type="password" required="required" pattern=".{8,}" title="8 characters minimum" id="password")
			input(type="submit" value="{{T 'Register'}}")