template(name="chefProfile")
	.chef-profile.form-box
		with chef
			if isOwner
				h3 {{T "Your profile"}}
				p {{T "Your phone number and address are hidden from clients until they confirm an order"}}
				p {{T "The client can specify the order pickup time by phone"}}
				form(name="chefProfile")
					label {{T "Name"}}
					input(type="text" name="name" value="{{name}}" required)
					label {{T "Telephone"}}
					input(type="text" name="telephone" value="{{telephone}}")
					label {{T "City"}}
					input(type="text" name="city" value="{{city}}" required)
					label {{T "Street"}}
					input(type="text" name="street" value="{{street}}" required)
					label {{T "House nr"}}
					input(type="text" class="small" name="house" value="{{house}}" required)
					textarea(name="bio" placeholder="{{T 'Short description about yourself...'}}") {{bio}}
					input(type="submit" value="{{T 'Save'}}")
			else
				if name
					h1 {{name}}
				else
					h1 Profile is not complete
				if telephone
					h2 {{T "Telephone"}}
					p {{telephone}}
				if city
					h2 {{T "City"}}
					p {{city}}
				if street
					h2 {{T "Street"}}
					p {{street}}
				if house
					h2 {{T "House nr"}}
					p {{house}}
				if bio
					p {{bio}}