template(name="chefProfile")
	.chef-profile
		with chef
			if isOwner
				form(name="chefProfile")
					input(type="text" name="name" placeholder="Full Name" value="{{name}}")
					h2 {{T "Telephone"}}
					input(type="text" name="telephone" placeholder="+372 555 55555" value="{{telephone}}")
					h2 {{T "City"}}
					input(type="text" name="city" placeholder="Tallinn" value="{{city}}")
					h2 {{T "Street"}}
					input(type="text" name="street" placeholder="Hollyoaks st." value="{{street}}")
					h2 {{T "House nr"}}
					input(type="text" name="house" placeholder="43" value="{{house}}")
					textarea(type="text" name="bio" placeholder="Short description about yourself..." value="{{bio}}")
					input(type="submit" value="{{T 'Save'}}")
			else
				if name
					h1 {{name}}
				else
					h1 Profile is not complete
				if telephone
					h2 {{T "Telephone"}}
					p {{telephone}}
				if city
					h2 {{T "City"}}
					p {{city}}
				if street
					h2 {{T "Street"}}
					p {{street}}
				if house
					h2 {{T "House nr"}}
					p {{house}}
				if bio
					p {{bio}}