template(name="clientInstructionsOverlay")
	.clientInstructionsOverlay
		p Nüüd jääb üle Sul vaid oodata isuäratavaid pakkumisi piirkonna parimatelt kodukokkadelt. Vastuse saabumisest teavitame Sind e-posti teel. Vajadusel täpsustab kokk Sinuga pakkumise sisu ja hinna. Kui kõik sobib, siis saad tellimuse kinnitada ja Sinu valitud kokk asub kokkama. 
		p Hiljem saate omavahel kokku leppida toidu üleandmise aja ja koha. Maksmine toimub sularahas üleandmisel ja toidule tuleb Sul ise järgi minna, kui pole kokaga kokku lepitud teisiti. 
		p Kui tahaks karjuda "Appi!", siis helista <span class="color-green strong">5849 4340</span> või saada e-kiri <span class="color-green strong">appi@toitla.com</span> ja tuleme kohe appi.
		input(type="submit" name="clientInstructionsOverlay" value="{{T 'OK'}}" class="centered-content")