template(name="howTo")
	.how-overlay
		p Teeme koduste hõrgutiste tellimise kodukokkadelt ja omavalmistatud toidu pakkumise soovijatele imelihtsaks!
		h3 LÜHIDALT TELLIJALE:
		ol
			li ESITA TELLIMUS <br /> Määra avalehel tellimise tähtaeg, piirkond ja see, mida oma laual näha soovid.
			li KINNITA PAKKUMINE <br /> Kinnita sobivaim pakkumine.
			li MINE TOIDULE JÄRGI <br /> Mine toidule järgi ja maksa sularahas.
		h3 LÜHIDALT KOKALE:
		ol
			li REGISTREERU KASUTAJAKS <br /> 
				| Registreeru toitla.com kasutajaks.
			li OOTA TELLIMUSI <br /> 
				| Teavitame Sind saabunud tellimusest e-posti teel.
			li TEE PAKKUMINE <br /> 
				| Tee pakkumine ja oota vastust.
			li ASU KOKKAMA <br /> 
				| Tellija tuleb ise toidule järgi ja maksab sularahas.
		p
			| Kui hätta jääd, siis helista meile 
			span(class="color-green strong") 58 49 43 40
			| või kirjuta 
			span(class="color-green strong") appi@toitla.com
			|. Aitame Sind väga hea meelega!

		h3 PIKEMALT TELLIJALE
		p Sõbrad on külla tulemas, perekond kokku saamas või sünnipäev ukse ees. Kui Sinu laualt on puudu vaid kodused hõrgutised, siis toimi järgmiselt:
		ol
			li ESITA TELLIMUS <br />
				| Annad meile avalehel teada millal, kus ja mida Sa soovid. Sinu soovid võivad olla täpselt nii täpsed või umbmäärane nagu nad parasjagu on. Pane see lihtsalt kirja nii nagu on ning esita tellimus.

			li KINNITA E-POSTI AADRESS <br />
				| Sinu tellimus saadetakse valitud piirkonna kodukokkadele. Pakkumiste saamiseks sisesta palun oma e-posti aadressi.

			li OOTA ISUÄRATAVAID PAKKUMISI <br />
				| Kokad vastavad esimesel võimalusel ja Sinu e-posti aadressile saadetakse teavitus, kui kokk on omapoolse pakkumise teinud. E-kirjas oleva lingi kaudu pääsed pakkumistele ligi.

			li RÄÄGI KOKAGA <br />
				| Pakkumiste lehel saate omavahel täpsustada tellimuse/pakkumise sisu ja hinda. Kokk saab muuta oma pakkumist vastavalt Sinu tagasisidele, kuniks Sina pakkumise kinnitad.

			li KINNITA PAKKUMINE <br />
				| Kui jõutakse sobiva kokkuleppeni, siis Sa kinnitad pakkumise ja kokk asub tööle.

			li LEPI KOKKU ÜLEANDMINE <br />
				| Koka telefoni number ja aadress saadetakse Sinu e-posti aadressile ning nii saad tellimuse üleandmise täpse aja ja koha kokaga otse kokku leppida.

			li MINE TELLIMUSELE JÄRGI <br />
				| Sul tuleb ise oma tellimusele kokkulepitud ajal ja kohale järgi minna.

			li TASU SULARAHAS <br />
				| Tasumine toimub tellimuse üleandmisel sularahas.

		h3 PIKEMALT KODUKOKALE
		p Sul on kirg toidutegemise vastu ning soovid oma koduseid hõrgutisi ka teistega jagada. Kui tahad kokata just neile, kes Sinu valmistatud toidust lugu peavad, siis toimi järgmiselt:
		ol 
			li REGISTREERU KASUTAJAKS <br />
				| Registreeru meie avalehel kodukokaks.

			li OOTA PÕNEVUSEGA <br />
				| Teavitame Sinu piirkonnas esitatud tellimusest Sind e-posti teel.

			li TEE PAKKUMINE <br />
				| Vastavalt tellimusele tee omapoolne pakkumine. See võib olla juba palju täpsem kui tellimus. Sinu pakkumisest teavitatakse tellijat e-posti teel.

			li RÄÄGI TELLIJAGA <br />
				| Pakkumiste lehel saate omavahel täpsustada tellimuse/pakkumise sisu ja hinda. Saad igal hetkel oma pakkumist muuta vastavalt tellija tagasisidele, kuniks tellija pakkumisega päri on ja ta selle kinnitab.

			li ASU KOKKAMA <br />
				| Sinu telefoni number ja aadress saadetakse tellija e-posti aadressile. Tellija võtab Sinuga aegsasti ühendust, et kokku leppida täpne tellimuse üleandmise aeg ja koht.

			li ANNA TELLIMUS ÜLE JA VÕTA VASTU TUHAT TÄNU NING VÄÄRILINE TASU <br />
				| Tellija tuleb toidule ise järgi ja tasub sularahas.
		p 
			| Kui ikka jäi veel arusaamatuks, siis ootame endiselt Sinu kõnet numbril 
			span(class="color-green strong") 58 49 43 40
			| või kirjuta aadressil
			span(class="color-green strong") appi@toitla.com
			|. Igasugune tagasisisde rokib!