template(name="loginForm")
	.login-form
		h3 {{T 'Login as a chef'}}
		.messages
		form(name="loginForm")

			label(for="email") {{T 'E-mail address'}}
			input(type="email" name="email" id="email" required="required")

			label(for="password") {{T 'Password'}}
			input(name="password" type="password" required="required" pattern=".{8,}" title="8 characters minimum" id="password")

			input(type="submit" value="{{T 'Login'}}")