template(name="orderEmail")
	.order-email.form-box
		if chefsInArea
			.uppercase.huge {{chefCountText}}
			p {{T 'Enter your email so the best offer will reach you for sure'}}
		else
			p {{T "Unfortunatelly, there are no chefs in your area at the moment."}}
			p {{T "Enter your email to recieve a notification when we've got someone for you"}}
		.messages
		form(name="orderEmailForm")
			input(type="email" name="email" id="email" required="required" placeholder="{{T 'E-mail address'}}")
			input(type="submit" value="{{#if chefsInArea}}{{T 'Feed me'}}{{else}}{{T 'Save'}}{{/if}}")