template(name="orderEmail")
	.order-email.form-box
		h1 {{T 'Email address'}}
		p {{T 'Not to lose you orders, please give us your e-mail address'}}
		.messages
		form(name="orderEmailForm")

			// currently not used
			with order
				input(type="email" name="email" id="email" required="required" placeholder="{{T 'E-mail address'}}")
				input(type="submit" value="{{T 'Feed me'}}")