template(name="offerChat")
	.offer-chat
		.row
			.float-left
				h1 {{chefName}}
			.float-right
				h1 X
		.row
			input
		.row
			input(type="submit")
		each messages
			.row
				p {{msg}}
				p -=NAME=-