Configuration = {
	email : 'noreply@toitla.com', // Email address that sends out messages
	site_address : 'http://toitla.com', // Address that site runs on 
	development_server: 'localhost', // is this server made for development?
}

// Disable hot code push completely
// You probably want to remove this on your local machine
if (Meteor.isClient) {
	Meteor._reload.onMigrate(function(reloadFunction) {
		return [false]
	});
}