template(name="post")
	.post.shadow(id="{{_id}}" style="{{image}}")
		with author
			img.mini-thumb(src="{{picture}}" style="height:{{thumbSize}};width:{{thumbSize}}")
			p.no-top.font-small {{name}}
		.align-bottom
			p.description {{description}}
			p.float-left.font-small like
			p.float-left.font-small share
			p.float-right.font-small comments