.post {
	width: 100%;
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
}

@media (min-width: 400px) {
	.post {
		height: 350px;
	}
}

@media (min-width: 600px) {
	.post {
		height: 550px;
	}
}

@media (min-width: 800px) {
	.post {
		height: 750px;
	}
}

@media (min-width: 1000px) {
	.post {
		height: 250px;
	}
}