template(name="post")
	.post.shadow(id="{{_id}}" style="{{image}}")
		with author
			img.mini-thumb(src="{{picture}}" style="height:{{thumbSize}};width:{{thumbSize}}")
			p.no-top.font-small {{name}}
		.align-bottom
			p.description {{description}}
			+icon(icon="icons/white-heart.svg" iconClass="icon-small" text="like" textClass="font-small")
			+icon(icon="icons/white-share.svg" iconClass="icon-small" text="share" textClass="font-small")
