template(name="index")
	.starter-template
		h1 Tere from index!
		p.lead Tahan süüa:
		form(name="order")
			input(type="text" name="description")
			input(type="text" name="date")
			input(type="text" name="time")
			input(type="submit" value="{{T 'place_order'}}") 