@import "../../../settings";
@import "../../elements";

.menuItem {
	cursor: pointer;
	width: 100%;
	.content {
		position: relative;
		top: (100% - @thumb-width) / 2;
		left: (100% - @thumb-width) / 2;
		width: @thumb-width;
		height: @thumb-width;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.cover {
		background-size: cover;
		.shadow-small;
	}
}