@import "../../../settings";

.menuItem {
	cursor: pointer;
	width: 100%;
	.content {
		position: relative;
		top: (100% - @thumb-width) / 2;
		left: (100% - @thumb-width) / 2;
		width: @thumb-width;
		height: @thumb-width;
		background-color: rgb(150,150,150);
		background-position: center;
		background-size: cover;
	}
}