template(name="allsecrets")
	.allsecrets

		h2 You've found a secret place!

		h3 Chefs
		table
			tr
				th Joined
				th(colspan="3") Profile
				th(colspan="3") Address
				th Bio

			each users
				tr
					td {{createdAt}}
					td {{email}}
					td {{profile.name}}
					td {{profile.telephone}}
					td {{profile.city}}
					td {{profile.street}}
					td {{profile.house}}
					td {{profile.bio}}

		h3 Orders
		table.ordersTable
			tr
				th(colspan="5") Order
				th(colspan="4") Offer
			tr
				th Created
				th Deadline
				th(colspan="2") Client info
				th Order description
				th Offers
				th Chef email
				th Price
				th Offer contents
			each orders
				tr
					td {{info.creation}}
					td {{info.deadline}}
					td {{info.email}}
					td {{info.location}}
					td {{info.description}}
					td {{info.offerCount}}
					td {{winnerChefEmail}}
					td {{info.price}}
					td {{info.content}}

