template(name="clientView")
	section.two-columns
		header.offers
			h1 {{ orderData.info.description }}
			div {{ orderData.info.date }} {{T 'at'}} {{ orderData.info.time }} {{ orderData.info.location }}
		.offers
			each offers
				+order