template(name="clientView")
	.clientView
		.row
			.col-sm-6
				.row
					.col-sm-12
						h1 Minu tellimus
				.row
					.col-sm-12
						.float-left
							p Mingi tekst
							p Kahe realine
						p.float-right Tühista nupp

				.row
					.col-sm-12
						each offersForClient
							+offer
						else
							p Meil on su email..
			.col-sm-6
				if chatActive
					+offerChat
				h1 Map
