template(name="clientView")
	.clientView.height-100
		.row.height-100
			.col-sm-6
				.row
					.col-sm-12
						h1 Minu tellimus
				.row
					.col-sm-12
						.float-left
							p Mingi tekst
							p Kahe realine
						p.float-right Tühista nupp

				.row
					.col-sm-12
						each offersForClient
							+offer
						else
							p Meil on su email..
			.col-sm-6.height-100
				#offer-map.height-100
