template(name="clientView")
	section.two-columns
		header.offers
			h1 {{ orderData.info.description }}
			p {{ T '{timestamp}, {location}' orderData.info }}
			strong {{T "Chef offers"}}
			p 
				| {{T "Choose an offer you're satisfied with or use the chat to discuss the details."}}
				| {{T "Chef contact details will be revealed after confirmation"}}
				| {{T "If you leave this page, offers will be emailed to you."}}
		.offers
			each offersForClient
				+offer
			else
				strong.centered {{T "Please wait for the chefs to make you an offer"}}