template(name="clientView")
	section.two-columns
		header.offers
			h1 {{ orderData.info.description }}
			div {{ T '{date} at {time} {location}' orderData.info }}
		.offers
			each offersForClient
				+order