template(name="confirmOrder")
	.confirm-order
		.row
			.col-sm-6
				h1 Mingi tekst
				p mingi tekst
				form(role="form")
					.form-group
						label Location
						input.form-control(type="text")
					.form-group
						label seletav tekst
						.row
							.col-sm-10
								input(type="range" step="1" min="1" max = "5")
						.row
							.col-sm-2 a
							.col-sm-2 a
							.col-sm-2 a
							.col-sm-2 a
							.col-sm-2 a
			.col-sm-6
				h1 Kaart