template(name="confirmOrder")
	.confirm-order.height-100
		.row.height-100
			.col-sm-6
				h1 Mingi tekst
				p mingi tekst
				form(role="form")
					.form-group
						label Location
						input.form-control#map-autocomplete(type="text")
					.form-group
						label seletav tekst
						input.order-range(type="hidden")
			.col-sm-6.height-100
				h1 Kaart
				#confirmation-map.height-100