template(name="confirmOrder")
	.confirm-order
		.row
			.col-sm-6
				h1 Mingi tekst
				p mingi tekst
				form(role="form")
					.form-group
						label Location
						input.form-control(type="text")
					.form-group
						label seletav tekst
						input.order-range(type="hidden")
			.col-sm-6
				h1 Kaart