template(name="createOrder")
	form(role="form")
		.container
			.row
				.col-sm-12
					p Söö. Jaga. Korda
			.row
				.col-sm-12
					p Imelised hõrgutised
			.row
				.col-sm-6
					input.form-control(value="1")
				.col-sm-6
					input.form-control(value="2")
			.row
				.col-sm-12
					input.form-control.input-lg
			.row
				.col-sm-12
					input.form-control(type="submit")

