template(name="createOrder")
	section(class="dimmer black")
	section(class="background")
		.right-half
	section(class="content")
		.make-order
			h1 Eat. Sleep. Repeat
			.slogan Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
			form(name="createOrder")
				input(type="text" name="description")
				input(type="text" name="date")
				input(type="text" name="time")
				input(type="text" name="location")
				input(type="submit" value="{{T 'Feed me'}}")