template(name="createOrder")
	.make-order
		img
		p Paragraaf Paragraaf Paragraaf Paragraaf Paragraaf Paragraaf
		form(name="createOrder")
			input(name="description")
			input(name="date")
			input(name="time")
			input(name="location")
			input(type="submit" value="{{T 'Feed me'}}")