template(name="createOrder")
	section(class="background")
		.right-half
	section(class="overlay black")

	section(class="content")
		.make-order
			h1 Eat. Sleep. Repeat
			.slogan Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.
			form(name="createOrder")
				input(name="description")
				input(name="date")
				input(name="time")
				input(name="location")
				input(type="submit" value="{{T 'Feed me'}}")