template(name="createOrder")
	section(class="dimmer black")
	section(class="background")
		.right-half
	section(class="content")
		.make-order
			h1 {{T 'Eat. Sleep. Repeat'}}
			.slogan {{T 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.' }}
			form(name="createOrder")
				.inputs
					input(type="text" name="description" placeholder="{{T 'Estonian dinner'}}" class="long")
					input(type="text" name="date" placeholder="{{ tomorrow }}")
					input(type="text" name="time" placeholder="18:00")
					input(type="text" name="location" placeholder="Tallinn")

				input(type="submit" value="{{T 'Feed me'}}")