template(name="demo")
	.demo
		h1 Demo
		each content
			h2 {{title}}
			p {{paragraph}}
		form(name="demo")
			input(placeholder="title" class="title")
			input(placeholder="paragraph" class="paragraph")
			input(type="submit")
