template(name="login")
	nav(class="{{hasBackgroundImage}}")
		.menu
			a#contact {{T "Contact" }}
			a#how {{T "How to?"}}
			if currentUser
				a#logout.uppercase {{T "Logout"}}
				a#myprofile {{T "My Profile"}}
			else
				a#login.uppercase {{T "Login"}}
				a#register {{T "Register as a chef"}}	