template(name="login")
	.login-button
		if currentUser
			a#logout {{T "Logout"}}
			a#myprofile {{T "My Profile"}}
		else
			a#login {{T "Login"}}
			a#register {{T "Register as a chef"}}
	
		

		
		
			