template(name="navbar")
	nav.navbar.navbar-default(role="navigation")
		.navbar-header
			a.navbar-brand(href="/") Toitla
		.navbar-collapse.collapse
			.nav.navbar-nav.navbar-right
				+loginButtons
			ul.nav.navbar-nav.navbar-right
				li
					a(href="#") link
				li
					a(href="#") link
				li
					a(href="#") link