template(name="offer")
	.offer-block
		.row
			.col-sm-12
				p.float-left {{chefName}}
				a.chef-info.float-right Chef
				p.float-right Chat
				p.float-right
					if editingOffer
						p {{T "chef is editing"}}
					else
						if thisOfferIsWinner
							p {{T "Offer is confirmed"}}
						else
							a.confirm-offer {{T "Confirm offer"}}
		.row
			.col-sm-12
				p {{content}}
		.row
			.col-sm-12
				p {{T "Price"}}: {{price}}
		if thisOfferIsWinner
			with chefProfile
				p.color-green {{T "Great! You've found a chef. Here is your chef's contact information."}}
				p {{T "Phone nr"}}: {{telephone}}
				p {{T "Address"}}: {{city}}, {{street}} {{house}}
		hr