template(name="orders")
	.orders
		each orders
			.order-block
				a.cancel-offer {{T "Cancel offer"}}
				.order
					h2 {{T "Order details"}}
					p {{info.date}}
					p {{info.time}}
					p {{info.location}}
					p {{info.description}}
				.offer
					h2 {{T "Your offer"}}
					form(name="offer" id="{{_id}}")
						label(value="offer")
						textarea(name="content") {{offerContent}}
						label(value="price")
						input(name="price" value="{{offerPrice}}")
						input(type="submit" value="{{T 'Send'}}")

				.chat
					h2 {{T "Chat"}}