template(name="order")
	.order-block(data-order-id="{{_id}}" class="{{#if userIsWinner}}green-glow{{/if}}{{#if lostOffer}}all-gray{{/if}}")
		section.form-box
			header
				.order
					h3 {{info.description}}
					p {{info.date}} {{info.time}} {{info.location}}
			.offer
				with offerData _id
					if this.rejected
						p.rejected {{T 'Offer was rejected by the client'}}
					with authorData
						h3 {{name}}
						p {{city}}
					if offerIsWon
						h2 {{T "Offer"}}
						p {{content}}
						p.price {{T "Price"}} {{price}}
						if isClient
							with authorData
								h3.color-green {{T "Great! You've found a chef. Here is your chef's contact information."}}
								p {{T "Phone nr"}}: {{telephone}}
								p {{T "Address"}}: {{city}}, {{street}} {{house}}
						else
							if userIsWinner
								h3.color-green {{T "Hooray! You've won a client to cook for! Here is some extra information of your client"}}
								p {{T "Telephone nr:"}} {{clientTelephone}}
							else
								h3 {{T "Client has confirmed with another chef."}}
					else
						if currentUser
							if editingOffer
								form(name="offer" data-offer-id="{{_id}}")
									h3.uppercase {{T "Your offer"}}
									textarea(name="content" placeholder="{{T 'A detailed description of the food you want to offer'}}" required) {{content}}
									footer
										input(type="text" class="small" name="price" placeholder="{{T 'Price'}}" value="{{price}}" required)
										input(type="submit" value="{{T 'Send offer'}}")
							else
								h2 {{T "Offer"}}
								p {{content}}
								p.price {{T "Price"}} {{price}}
								footer
									p.feedback {{T "Waiting for client feedback"}}
									a.change-offer.button {{T "Change offer"}}
						else
							h2 {{T "Offer"}}
							p {{content}}
							p.price {{T "Price"}}  {{price}}
							a.confirm-offer.button {{T "Confirm offer"}}
		section.chat.form-box.beige
			h3.uppercase {{T "Chat"}}
			with offerData _id
				each messages
					.message
						div.uppercase.gray {{author}} {{time}}
						p {{msg}}
				form(name="chat" data-offer-id="{{_id}}")
					textarea(name="msg")
					input(type="submit" value="{{T 'Answer'}}")