template(name="orders")
	section.two-columns
		.orders
			each orders
				.order-block.form-box
					a.cancel-offer {{T "Cancel offer"}}
					.order
						h2 {{T "Order details"}}
						p {{info.date}}
						p {{info.time}}
						p {{info.location}}
						p {{info.description}}
					.offer
						
						form(name="offer" id="{{_id}}")
							h3.uppercase {{T "Your offer"}}
							textarea(name="content" placeholder="{{T 'A detailed description of the food you want to offer'}}") {{offerContent}}
							footer
								input(type="text" class="small" name="price" placeholder="{{T 'Price'}}" value="{{offerPrice}}")
								input(type="submit" value="{{T 'Send offer'}}")
						if itemExists
							h3 item exists
					.chat
						h2 {{T "Chat"}}