.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.padding {
    padding: 1rem;
}

.paddingr {
    padding-right: 1rem;
}

.paddingl {
    padding-left: 1rem;
}

.margin {
    margin: 1rem;
}

.center {
    margin: auto;
}

.inblock {
    display: inline-block;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clear {
    clear: both;
}

.z1 {
    z-index: 1;
}

.inline {
    display: inline-block;
}

.vtop {
    vertical-align: top;
}

.box {
    box-sizing: border-box;
}
