.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.padding {
    padding: 1rem;
}

.margin {
    margin: 1rem;
}

.center {
    margin: auto;
}

.inblock {
    display: inline-block;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.clear {
    clear: both;
}

.z1 {
    z-index: 1;
}
