.light-text {
    color: rgba(0,0,0,0.5);
}

.text-white {
    color: white !important;
}

.mdl-textfield__label {
    color: rgba(0,0,0,0.5) !important;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-hint {
    font-style: italic;
    color: rgba(0,0,0,0.5);
}

input, textarea {
    resize: vertical !important;
    font-family: Arial;
}

.text-halfsize {
    font-size: 0.7em;
}

.text-red {
    color: rgb(244, 67, 54);
}
