.light-text {
    color: rgba(0,0,0,0.5);
}

.text-white {
    color: white !important;
}

.mdl-textfield__label {
    color: rgba(0,0,0,0.5) !important;
}

.text-center {
    text-align: center;
}

.text-hint {
    font-style: italic;
    color: rgba(0,0,0,0.5);
}

input, textarea {
    resize: vertical !important;
    font-family: Arial;
}
