template(name="sideMenu")
	.menu
		+menuItem(panel="right" content="userProfileView" icon=chefImage)
		+menuItem(panel="right" content="postDetails" icon="/icons/white-post-details.svg")
		//- +menuItem(panel="right" content="postComments" icon="/icons/white-chat.svg")
		+menuItem(panel="right" content="postSale" icon="/icons/white-euro.svg")