@import "../../settings";
@import "../elements";

html {
	overflow: hidden;
}

.panel {
	position: absolute;
	// top: 0; // Mobile safari does not like this
	height: 100%;
}

.panel.layout-left {
	left: 0;
	width: @panel-left-width;
	height: 100%;
}
.panel.layout-center {
	left: @panel-left-width;
	width: 100%;
	height: 100%;
}
.panel.layout-right {
	left: @panel-left-width + @panel-width;
	width: 100%;
	height: 100%;
}

.menu-bar {
	padding: 0;
	margin: 0;
	position: relative;
	display: inline-block;
	width: @menu-bar-width;
	height: 100%;
}

.content-bar {
	.animate-opacity;
	padding: 0;
	margin: 0;
	position: relative;
	display: inline-block;
	width: 100% - @menu-bar-width - 3%;
	height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	overflow-x: visible; 
}

.layout-left .content-bar {
	width: 100%;
}

.switcher-content {
	.animate-opacity;

	position: absolute;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	.invisible
}

.veil {
	z-index: 1 !important;
	opacity: 0 !important;
	position: absolute;
	width: 100%;
	height: 100%;
}

@media all and (min-width: 1000px) {
	@panel-left-width: @panel-width * 0.3;
	.menu-bar {
		width: @menu-bar-width * 0.5;
	}
	.content-bar {
		width: 97% - (@menu-bar-width * 0.5);
	}
	.panel.layout-left {
		width: @panel-left-width;
	}
	.panel.layout-center {
		left: @panel-left-width;
	}
	.panel.layout-right {
		left: @panel-left-width + @panel-width;
		width: @panel-left-width + (@menu-bar-width * 0.5);
		.menu-bar {
			width: (@menu-bar-width * 0.5) * 100% / (@panel-left-width + (@menu-bar-width * 0.5));
		}
		.content-bar {
			width: 97% - (@menu-bar-width * 0.5) * 100% / (@panel-left-width + (@menu-bar-width * 0.5));
		}
	}
}
