template(name="layout")
	.titlePageBackground.animate-opacity-slow(class="{{backInvisible}}")
	.panel.layout-left
		.content-bar
			.veil
			.switcher-content(class="{{visible content='userProfileEdit'}}")
				+userProfileEdit
			.switcher-content(class="{{visible content='login'}}")
				+login
			if currentUser
				.switcher-content(class="{{visible content='postNew'}}")
					+postNew
	.panel.layout-center
		.menu-bar
			+mainMenu
		.content-bar(class="{{transparent}}")
			+feed
	.panel.layout-right
		.menu-bar
			if rightPanelActive
				+sideMenu
		.content-bar
			.veil
			.switcher-content(class="{{visible content='userProfileView'}}")
				+userProfileView
			.switcher-content(class="{{visible content='postDetails'}}")
				+postDetails
			.switcher-content(class="{{visible content='postComments'}}")
				+postComments