@import "../../settings";

@panel-left: @panel-width * 0.3;

html {
	overflow: hidden;
}

.panel {
	position: absolute;
	// top: 0; // Mobile safari does not like this
	height: 100%;
}

.panel.layout-left {
	left: 0;
	width: @panel-left;
	height: 100%;
}
.panel.layout-center {
	left: @panel-left;
	width: 100%;
	height: 100%;
}
.panel.layout-right {
	left: @panel-left + @panel-width;
	width: @panel-left + @menu-bar-width;
	height: 100%;
}

.menu-bar {
	padding: 0;
	margin: 0;
	position: relative;
	display: inline-block;
	width: @menu-bar-width;
	max-width: 150px;
	height: 100%;
}

.content-bar {
	padding: 0;
	margin: 0;
	position: relative;
	display: inline-block;
	width: 100% - @menu-bar-width - 3%;
	height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	overflow-x: visible; 
}

.layout-left .content-bar {
	width: 100%;
}

.switcher-content {
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;

	position: absolute;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	.invisible
}

.visible {
	z-index: 2 !important;
	opacity: 1 !important;
}

.veil {
	z-index: 1 !important;
	opacity: 0 !important;
	position: absolute;
	width: 100%;
	height: 100%;
}

.invisible {
	z-index: 0;
	opacity: 0;
}

@media all and (min-width: 1000px) {
	// The idea is to center the panel with <left>
	// then negative margin to put it in place
	/*.panel.layout-left {
		width: @panel-left;
		left: 50%;
		margin-left: -(@panel-left + (@panel-width / 2));
	}
	.panel.layout-center {
		width: @panel-width;
		left: 50%;
		margin-left: -@panel-width / 2;
	}
	.panel.layout-right {
		width: @panel-width;
		left: 50%;
		margin-left: @panel-width / 2;
	}*/
}
