
#scrollbar-a::-webkit-scrollbar,
#scrollbar-b::-webkit-scrollbar,
#scrollbar-c::-webkit-scrollbar {
    width: 12px;
}
 
#scrollbar-a::-webkit-scrollbar-track,
#scrollbar-b::-webkit-scrollbar-track,
#scrollbar-c::-webkit-scrollbar-track {
    -webkit-box-shadow: inset -5px 0 6px rgba(0,0,0,0.3); 
}
 
#scrollbar-a::-webkit-scrollbar-thumb,
#scrollbar-b::-webkit-scrollbar-thumb,
#scrollbar-c::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}