template(name="confirmOrder")
	.starter-template
		.row
			.col-sm-6
				h1 {{T 'confirm_order'}}
				p.error
				with confirmOrder
					form(name="order")
						div Address
							input#map-autocomplete(type="text" name="address" value="{{address}}" required)
						div Range
							input(type="range" name="range" value="{{range}}" id="range" min="1" max="10")
						div Email
							input(type="email" name="email" value="{{email}}" required)
						div
							input(type="submit" value="{{T 'confirm_order'}}")
			.col-sm-6.order-map
				+googleMap(name="order-map" options=mapOptions)