template(name="confirmOrder")
	.starter-template
		.row
			.col-sm-6
				h1 {{T 'confirm_order'}}
				p.lead Email:
				form(name="order")
					input(type="text" name="order")
					input(type="submit" value="{{T 'confirm_order'}}")
			.col-sm-6.order-map
				+googleMap(name="order-map" options=mapOptions)