template(name="finalize-order")
	.starter-template
		h1 {{T 'finalie_order'}}
		p.lead Tahan süüa:
		form(name="order")
			input(type="text" name="order")
			input(type="submit" value="{{T 'place_order'}}") 