

.center {
	margin: 0 auto;
	text-align: center;
}

.block {
	display: block;
}

textarea {
	border: none;
	padding: 0;
	background-color: transparent;
}

.mini-thumb {
	width: 20%;
	height: 20%;
}

.no-top {
	margin-top: 0;
	padding-top: 0;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}