button, .btn, .button {
	border: none;
	border-radius: 5px;
	padding: 1em 2em 1em 2em;
}

.center {
	margin: 0 auto;
	text-align: center;
}

.block {
	display: block;
}

textarea {
	border: none;
	padding: 0;
}