

.center {
	margin: 0 auto;
	text-align: center;
}

.block {
	display: block;
}

textarea {
	border: none;
	padding: 0.5em;
	box-sizing: border-box;
	background-color: transparent;
	&:focus {
		outline: none !important;
	}
}

.mini-thumb {
	width: 20%;
	height: 20%;
}

.no-top {
	margin-top: 0;
	padding-top: 0;
}

.no-bottom {
	margin-bottom: 0;
	padding-bottom: 0;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}

.shadow {
	-webkit-box-shadow: 0 10px 10px -5px rgba(0,0,0,0.5);
	box-shadow: 0 10px 10px -5px rgba(0,0,0,0.5);
}

.shadow-small {
	-webkit-box-shadow: 0 4px 5px -1px rgba(0,0,0,0.5);
	box-shadow: 0 4px 5px -1px rgba(0,0,0,0.5);
}

.icon-small {
	width: 24px;
	height: 24px;
}