head
	title Toitla.com
	meta(name="description" content="Homecooked food takeout")
	meta(name="keyword" content="takeout, homecooked food, fastfood")
	meta(name="viewport" content="width=0, initial-scale=1, user-scalable=no")