template(name="titlePage")
	.titlePage.animate-opacity-slow(class="{{invisible}}")
		+toitla
		h1 {{T "title_page_title"}}
		p {{T "title_page_text"}}
		+loginFacebook
		.btn.login Login
		.btn.btn-no-bg.register Register